* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* 
  outline: 2px dashed purple; */
}

.container {
  background-color: orange;
  width: 20rem;
  height: 20rem;

  align-content: center;
  padding: 3rem;
  border: 3px solid red;
  margin: 2rem;
}

.box {
  background-color: blue;
  color: white;
  width: 5rem;
  height: 5rem;
  margin: auto;
  text-align: center;
  line-height: 5rem;
}

p {
  background-color: cadetblue;
}

a {
  text-decoration: overline;
}

a {
  text-decoration: line-through;
}

nav a {
  text-decoration: none;
}

p.my-class {
  background-color: chocolate;
}

/* .nav-links {
        text-decoration: none;
      } */

/* nav ul:first-of-type a {
        text-decoration: none;
      } */

#my-heading {
  color: red;
}
